@import "./colors";

// global classes

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(130, 130, 130, 1);
    border-radius: 20px;
  }
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
body {
  background-color: $bgc-color;
  font-family: "Calibre";
  font-weight: 400;
  color: $creame;
  overflow: hidden;
}
h3,
h4 {
  font-family: "Playfair Display Variable", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.heading {
  position: relative;
  font-family: "Calibre", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: $cyan;

  &::before {
    position: absolute;
    top: 40%;
    right: -80px;
    content: "";
    width: 70px;
    height: 2px;
    background-color: $creame;
  }

  &::after {
    position: absolute;
    top: 40%;
    left: -80px;
    content: "";
    width: 70px;
    height: 2px;
    background-color: $creame;
  }
}
