---
import Navigation from "~/components/Navigation/Navigation.astro";
import lightBulbIcon from "~/assets/icons/lightbulb-icon.svg";
import githubIcon from "~/assets/icons/github-icon.svg";
import instagramIcon from "~/assets/icons/instagram-icon.svg";
import linkedinIcon from "~/assets/icons/linkedin-icon.svg";

import "./styles/style.scss";
---

<script>
  import { updateResources } from "~/store/resources";
  import { loadAsset } from "~/utils/loadAsset";
  import HomeCanvas from "./canvas/Home.js";

  const assetPaths = [
    "models/deskModel.glb",
    "models/mainMonitor.glb",
    "models/laptopMonitor.glb",
    "models/leftMonitor.glb",
    "models/coffeSteam.glb",
    "images/bakedNoLight.jpg",
    "images/ledBaked.jpg",
    "images/baked.jpg",
    "images/leftMonitor.jpg",
    "images/painting.png",
    "models/painting.glb",
  ];

  // load resources
  const assetPromises = assetPaths.map(loadAsset);
  const assets = await Promise.all(assetPromises);

  if (assets.every((asset) => asset !== undefined)) {
    const [
      deskModel,
      mainMonitor,
      laptopMonitor,
      leftMonitor,
      coffeSteam,
      darkbaked,
      ledBaked,
      baked,
      leftMonitorTexture,
      paintingTexture,
      painting,
    ] = assets as NonNullable<(typeof assets)[number]>[];

    updateResources({
      deskModel,
      mainMonitor,
      laptopMonitor,
      leftMonitor,
      coffeSteam,
      darkbaked,
      ledBaked,
      baked,
      leftMonitorTexture,
      paintingTexture,
      painting,
    });
  }

  let myReq: number;
  let homeCanvas: HomeCanvas;

  document.addEventListener("astro:page-load", () => {
    if (window.location.pathname === "/") {
      homeCanvas = new HomeCanvas(document.querySelector(".canvas-home"));

      const update = () => {
        homeCanvas.update();
        myReq = requestAnimationFrame(update);
      };
      update();
    }
  });

  document.addEventListener("astro:after-swap", () => {
    cancelAnimationFrame(myReq);
    homeCanvas.destroy();
  });
</script>

<Navigation />
<main>
  <section class="home" id="home">
    <div class="gradient-top"></div>
    <div class="home__content">
      <h1 class="home__heading" data-heading="home">peter skubisz</h1>
      <p class="home__description">Front-end developer</p>
      <a href="#about" class="home__btn" data-href="about">About Me</a>
    </div>

    <canvas class="canvas-home"></canvas>
    <div class="gradient-bot"></div>

    <div class="home__media">
      <div id="btnLamp">
        <img src={lightBulbIcon.src} alt="" class="fas fa-lightbulb" />
      </div>

      <div class="home__media__socials">
        <a href="https://github.com/ThePiteroXx" target="_blank" rel="noopener"
          ><img src={githubIcon.src} alt="github" class="fab fa-github" /></a
        >
        <a
          href="https://www.instagram.com/peterskubisz/"
          target="_blank"
          rel="noopener"
          ><img
            src={instagramIcon.src}
            alt="instagram"
            class="fab fa-instagram"
          /></a
        >
        <a
          href="https://www.linkedin.com/in/piotr-skubisz-89b89623b/"
          target="_blank"
          rel="noopener"
          ><img
            src={linkedinIcon.src}
            alt="linkedin"
            class="fab fa-linkedin"
          /></a
        >
      </div>
    </div>
  </section>
</main>
